/* General styles for pagination */
.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-button:hover {
  background-color: #3700b3;
}

.pagination-button:focus {
  outline: none;
}

.page-numbers {
  display: flex;
  justify-content: center;
}

.page-numbers button {
  margin: 0 5px;
}

.page-numbers button.active {
  background-color: #03dac5;
  color: black;
}

.page-numbers button:hover {
  background-color: #3700b3;
  color: white;
}
