<div class="cf-title-12">
  <h1>{{title}}</h1>
</div>
<div class="container">
  <div class="row search-hero">
    <!-- Search input field -->
    <input class="form-control" 
           type="text" 
           name="search" 
           [(ngModel)]="searchText" 
           autocomplete="off" 
           placeholder="&#61442; Start searching"
           (ngModelChange)="searchProjects()">
  </div>
    <!-- Button to add new row -->

    <button (click)="addTaskRow()" class="btn btn-success mb-3">Add Project</button>
  <div class="row table-body">
    <!-- New project row (hidden initially) -->
    <tr *ngIf="isNewRowVisible">
      <td>
          <input
          type="text"
          [(ngModel)]="newProject.name"
          class="form-control"
          placeholder="Enter project name"
        />
      </td>
      <td>
          <input
            type="text"
            [(ngModel)]="newProject.description"
            class="form-control"
            placeholder="Enter description"
          />
        </td>
      <td>
        <button (click)="savenewProject()" class="btn btn-primary">Save</button>
        <button (click)="cancelnewProject()" class="btn btn-secondary">Cancel</button>
      </td>
</tr>
    <!-- Table to display project list -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Project Name</th>
          <th>User Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projectList">
          <td>{{project.projectId}}</td>
          <td>{{project.name}}</td>
          <td>{{project.userName}}</td>
          <td>{{project.description}}</td>
          <td>
            <a [routerLink]="['/project/', project.projectId]">View Details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<!-- Pagination controls -->
<div class="pagination-controls">
  <button (click)="previousPage()" [disabled]="currentPage === 0" class="pagination-button">
    Previous
  </button>

  <span class="page-numbers">
    <button *ngFor="let page of pageNumbers" 
            (click)="goToPage(page - 1)" 
            [class.active]="currentPage === page - 1"
            class="pagination-button">
      {{ page }}
    </button>
  </span>

  <button (click)="nextPage()" [disabled]="currentPage === totalPages - 1" class="pagination-button">
    Next
  </button>
</div>
