<div class="cf-title-12">
  <h1>{{title}}</h1>
</div>
<div class="container">
  <app-search  (searchSubmit)="handleSearch($event)">
  </app-search>
  <!-- Button to add new row -->

  <button (click)="addTaskRow()" style="margin-top: 20px;" class="btn btn-success mb-3">Add Project</button>
  <div class="row table-body">
    <!-- New project row (hidden initially) -->
    <tr *ngIf="isNewRowVisible">
      <td>
        <input type="text" [(ngModel)]="newProject.name" class="form-control" placeholder="Enter project name" />
      </td>
      <td>
        <input type="text" [(ngModel)]="newProject.description" class="form-control" placeholder="Enter description" />
      </td>
      <td>
        <button (click)="savenewProject()" class="btn btn-primary">Save</button>
        <button (click)="cancelnewProject()" class="btn btn-secondary">Cancel</button>
      </td>
    </tr>
    <!-- Table to display project list -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Project Name</th>
          <th>User Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projectList">
          <td>{{project.projectId}}</td>
          <td>{{project.name}}</td>
          <td>{{project.userName}}</td>
          <td>{{project.description}}</td>
          <td>
            <a [routerLink]="['/project/', project.projectId]">View Details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)">
  </app-pagination>